body{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
	padding: 3em;
	z-index: 10;
}
h1{
	font-size: 250%;
	font-weight: bold;
	margin-bottom: 1em;
}
#fhTable{
	width:100%;
	sbox-sizing: border-box;
	border: 0;
	border-collapse: collapse;
	z-index: 100;
	position: relative;
}
#fhTable tr > *{
	border: 3px solid #fff;
	padding: 0.5em 1em;
	background: #eee;
	min-width: 400px;
	box-sizing: border-box;
}
#fhTable th{
	font-weight: bold;
}
#fhTable tr > *:first-child{
	width: 3em;
	min-width: 3em;
	text-align: right;
}
#fhTable tr:nth-child(odd) > *:nth-child(odd){
	background-color: #ddd;
}
#fhTable tr:nth-child(even) > *:nth-child(even){
	background-color: #ddd;
}
#fhTable tr:hover > *{
	background: #FFFFCC !important;
}

th{
	border-color: blue !important;
}
th:nth-child(even){
	border-color: lightblue !important;
}
td{
	border-color: green !important;
}
td:nth-child(even){
	border-color: lightgreen !important;
}

h2{
	margin: 1em 0 0.5em;
	font-size: 2em;
	font-weight: bold;
}

#fhTable2 tr > *{
	padding: 0 5px;
	border: 1px dotted #DDDDDD;
}
